      .model {
        margin-top: 20px;
        font-family: Montserrat;
        text-align: center;
      }

      .model1 {
        font-size: 24px;
        margin-bottom: 10px; 
        font-weight: 700;
      }

      .model2 {
        font-size: 12px;
      }

      .model3 {
        text-decoration: underline;
      }

      .model4 {
        width: 250px;
        object-fit: cover;
        object-position: right;
        border-width: 3px;
        border-style: solid;
        border-color: red;
      }